@using GestaoDeEquipamentos.ConsoleApp.Models;

@model EditarEquipamentoViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Equipamentos";
}

<button><a href="/equipamentos/cadastrar">Cadastrar Novo Equipamento</a></button>
<button><a href="/equipamentos/visualizar">Visualizar Equipamento</a></button>

<hr>

<form action="/equipamentos/editar/@Model.Id" method="post">

    <label for="Nome">Nome do Equipamento:</label>
    <br />
    <input type="text" name="Nome" id="Nome" value="@Model.Nome" />

    <br />

    <label for="PrecoAquisicao">Preço de Aquisição do Equipamento:</label>
    <br />
    <input type="text" name="PrecoAquisicao" id="PrecoAquisicao" value="@Model.PrecoAquisicao" />

    <br />

    <label for="DataFabricacao">Data de Fabricação do Equipamento:</label>
    <br />
    <input type="date" name="DataFabricacao" id="DataFabricacao" value="@Model.DataFabricacao.ToString("yyyy-MM-dd")" />

    <br />

    <label for="FabricanteId">Fabricante do Equipamento:</label>
    <br />
    <select name="FabricanteId" id="FabricanteId">
        @foreach (var fabricante in Model.FabricantesDisponiveis)
        {
            <option value="@fabricante.Id" @(fabricante.Id == Model.FabricanteId ? "selected" : "")>@fabricante.Nome</option>
        }
    </select>

    <hr />

    <button type="submit">Gravar</button>
</form>