<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/style.css" />

    <title>@ViewBag.Titulo - Gestão de Equipamentos</title>
</head>

<body>

    <div id="cabecalho">
        <h2>Gestão de Equipamentos</h2>
    </div>

    <div>
        <a class="button-inicial @(Context.Request.Path == "/" ? "ativo" : "")" href="/">Pagina inicial</a>
        <a class="button-inicial @(Context.Request.Path.StartsWithSegments("/fabricantes/visualizar") ? "ativo" : "")" href="/fabricantes/visualizar">Fabricantes</a>
        <a class="button-inicial @(Context.Request.Path.StartsWithSegments("/equipamentos/visualizar") ? "ativo" : "")" href="/equipamentos/visualizar">Equipamentos</a>
        <a class="button-inicial @(Context.Request.Path.StartsWithSegments("/chamados/visualizar") ? "ativo" : "")" href="/chamados/visualizar">Chamados</a>
    </div>

    <hr>

    <main>
        <div>
            @RenderBody()
        </div>
    </main>

</body>
</html>