@using GestaoDeEquipamentos.ConsoleApp.Models
@model EditarChamadoViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Chamados";
}

<button><a href="/chamados/cadastrar">Cadastrar Novo Chamado</a></button>
<button><a href="/chamados/visualizar">Visualizar Chamados</a></button>

<hr>

<form action="/chamados/editar/@Model.Id" method="post">

    <label for="Titulo">Título do Chamado:</label>
    <br />
    <input type="text" name="Titulo" id="Titulo" value="@Model.Titulo" />

    <br />

    <label for="Descricao">Descrição do Chamado:</label>
    <br />
    <textarea name="Descricao" id="Descricao">@Model.Descricao</textarea>

    <br />

    <label for="EquipamentoId">Equipamento do Chamado:</label>
    <br />
    <select name="EquipamentoId" id="EquipamentoId">
        @foreach (var equipamento in Model.EquipamentosDisponiveis)
        {
            <option value="@equipamento.Id" @(equipamento.Id == Model.EquipamentoId ? "selected" : "")>@equipamento.Nome</option>
        }
    </select>

    <hr />

    <button type="submit">Gravar</button>
</form>
